@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;

    font-family: Roboto-Bold, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    background-color: white;
    height: 100%;
}

header {
    display: inline-flex;
    width: 100%;
    height: 90px;
    padding: 0 150px;
    border-bottom: rgba(80, 71, 215, 0.2) 1px solid;
    box-shadow: 0 0 10px gray;
}

header > .item {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: inherit;
    margin-right: 60px;
    vertical-align: middle;
}

header > .item:first-child {
    margin-right: 86px;
}

header > .last-item {
    margin-right: 0;
}

.header-image {
    margin: auto 10px auto 10px;
    width: 45px;
    height: 45px;
}

.header-span {
    font-family: Roboto-Light, sans-serif;
    font-weight: bolder;
    padding: 0;
    margin: auto 0;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
}

.icon-span {
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 24px;
    color: #5047D7;
    height: 36px;
}

.search-icon {
    display: flex;
    position: relative;
    right: -570px;
    width: 330px;
    height: inherit;
}

.image-middle {
    margin: auto 0;
}

.image-middle > img {
    width: 25px;
    height: 25px;
}

.svg-splitter {
    margin: auto 25px;
}

.login {
    display: flex;
}

.login {
    margin: auto 0;
}

.login > button {
    height: 40px;
    width: 127px;
    border-radius: 5px;
    border-color: #5047D7;
    color: #5047D7;
    background-color: white;
}

.wrapper {
    display: block;
    width: inherit;
    margin: 0 165px;
    border: 1px solid black;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-bottom: 60px;
}

.nav-item {
    display: inline-flex;
    flex-direction: row;
    margin: 40px 15px 0 0;
}

.nav-item:first-child {
    margin-right: 700px;
}

.breadcrumb-icon {
    margin: auto 0 5px 15px;
}

.item-wrapper {
    display: flex;
    margin: auto 0;
}

.breadcrumb {
    font-family: OpenSans, sans-serif;
}

.last-breadcrumb {
    color: gray;
}

.item-wrapper > svg {
    margin: auto 10px;
}


.hotel-hero {
    height: 1860px;
}

.hotel-hero.hero-section {
    display: block;
}

.hero-section {
    height: 40px;
    border: 1px solid blue;
}

.hero-section > div {
    display: inline-block;
    height: inherit;
    border: 1px solid red;
}

.hero-title {
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: auto 20px auto 0;
}


.hero-rate:last-child {
    margin-right: 310px;
}

.hero-favorite {
}

.hero-favorite > img {
    height: 20px;
    width: 20px;
}